* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  border: 0.5rem solid rgb(224, 78, 78);
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

.gallery {
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  /* grid-template-rows: repeat(5, 1fr);*/
}
